SUPABASE_URL="https://jryisjdqhdgarybgxbna.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpyeWlzamRxaGRnYXJ5Ymd4Ym5hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTM2Mjc0NjIsImV4cCI6MjAyOTIwMzQ2Mn0.kLz6-BePRaFzs9nQNOLFBTjiDIuUrlgYJt7JqMYTFig"